{
    acme_dns cloudflare {env.cfat_THMBbVj6lL0yxMwITVJ2B7deOb1IKmq2iUy04vsP90e544aa}
}

umbrel.teccryptor3dprint.dpdns.org {
    reverse_proxy 127.0.0.1:7080
}

octoprint.teccryptor3dprint.dpdns.org {
    reverse_proxy 127.0.0.1:7080
}

openclaw.teccryptor3dprint.dpdns.org {
    reverse_proxy 127.0.0.1:7080
}
