{
    email ricardo@exemplo.com
}

# Obico
obico.codenameraziel.duckdns.org {
    encode gzip
    reverse_proxy obico:3334

    # Forçar HTTPS
    redir / https://{host}{uri} permanent

    # Cabeçalhos extras de segurança
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "no-referrer-when-downgrade"
        Permissions-Policy "camera=(), microphone=(), geolocation=()"
    }
}

# OctoPrint
octoprint.codenameraziel.duckdns.org {
    encode gzip
    reverse_proxy octoprint:5000

    redir / https://{host}{uri} permanent

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "no-referrer-when-downgrade"
        Permissions-Policy "camera=(), microphone=(), geolocation=()"
    }
}

# Janus
janus.codenameraziel.duckdns.org {
    encode gzip

    # API HTTP
    handle /janus* {
        reverse_proxy janus:8088
    }

    # WebSockets API
    handle /ws* {
        reverse_proxy janus:8188 {
            transport http {
                versions 1.1
                keepalive 60s
            }
            header_up Upgrade {http.request.header.Upgrade}
            header_up Connection {http.request.header.Connection}
        }
    }

    # Admin API
    handle /admin* {
        reverse_proxy janus:7088
    }

    # Admin WebSockets
    handle /adminws* {
        reverse_proxy janus:7888 {
            transport http {
                versions 1.1
                keepalive 60s
            }
            header_up Upgrade {http.request.header.Upgrade}
            header_up Connection {http.request.header.Connection}
        }
    }

    # Frontend demos
    handle /demos* {
        reverse_proxy janus-web:8081
    }

    redir / https://{host}{uri} permanent

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "no-referrer-when-downgrade"
        Permissions-Policy "camera=(), microphone=(), geolocation=()"
    }
}

# Cockpit
cockpit.codenameraziel.duckdns.org {
    encode gzip
    reverse_proxy cockpit:9090

    redir / https://{host}{uri} permanent

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "no-referrer-when-downgrade"
        Permissions-Policy "camera=(), microphone=(), geolocation=()"
    }
}
